// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$flag-height: 25px;
$rich-black: #011627;
$imperial-red: #F02D3A;
$honeydew: #F0FFF1;
$title-font: "Rubik", sans-serif;
$text-font: "Roboto", sans-serif;
$small-text: 1rem;
$medium-text: 1.25rem;

html
{
    scroll-behavior: smooth;
    font-size: 14px;
    font-family: $text-font;
    max-width: 100%;
    overflow-x: hidden;
}

footer
{
    background-color: white;
}

.footer-font
{
    color: $rich-black;
}

h1, h2, h3, h4, .nav-link, .footer-font, .card-header
{
    font-family: $title-font;
}
.detailed-img
{
    width: 100%;
}

.navbar-custom, .navbar-toggler, .navbar-brand
{
    color: $rich-black;
}

#logo
{
    height: 50px;
    width: auto;
}

.navbar-toggler
{
    border-color: $rich-black;
}

p, a, .btn, label, input, form, .form-control, #email,input:-webkit-autofill::first-line,
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus,
input:-webkit-autofill:active, tr, th, td
{
    font-family: $text-font;
    font-size: $small-text;
}

.btn-danger
{
    background: $imperial-red;
    color: $honeydew;
}

.carousel-content {
    position: absolute;
    bottom: 15vh;
    left: 10%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-image {
    height: 70vh;
    width: 100%;
    object-fit: cover; // here
}

#app
{
    background-color: $honeydew;
}

.navbar-brand img
{
    height: 70px;
    width: 40px;
}

.flag {
    height: $flag-height;
    width: 1.5*$flag-height;
    box-shadow: 0px 0px 1px #5a6268;
    margin: 0;
}
.nav-link
{
    font-size: 1.25rem;
}

#cart-icon, .nav-link, .navbar-brand
{
    color: $rich-black;
}
#cart-icon, .nutrition
{
    height: 2rem;
}

.card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card-text {
    height: 2em;
    overflow-y: hidden;
}

.card-title {
    height: 3em;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

#backtotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    height: 40px;
    width: 40px;
    z-index: 10000;
    background-color: $imperial-red;
    color: $honeydew;
    cursor: pointer;
    padding: 0px;
    border-radius: 20px;
    font-size: 18px;
}

#backtotop:hover {
    box-shadow: 0px 0px 3px grey;
}
